*{
    margin: 0;
    padding: 0;
  }
  body{
    background-image:url("Images/Landing.jpeg");
    background-size: cover;
    background-attachment: fixed;
  }
  h1 {
    text-align: center;
    font-family: monospace;
    font-size: 3em;
    color: coral;
  }
  p {
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    color: darkgrey;
  }
  h5 {
    text-align: center;
    font-family: monospace;
    font-size: 2em;
    color: coral;
  }
  .outer-container {
    width: 100vw; /* Supaya lebar div terluarnya selebar window browser */
    height: 100vh; /* Supaya tinggi div terluarnya setinggi window browser */
    display: flex; /* Auto item alignment jadi ga perlu pake translate dan pake posititon absolute */
    flex-direction: column; /* Satu baris ada satu item. Kalo mau setiap itemnya samping-sampingan, ganti jadi 'row' */
    align-items: center; /* Supaya logo sportsville dan taglinenya di tengah secara horizontal*/
    justify-content: center; /* Supaya logo sportsville dan taglinenya di tengah secara vertikal */
    position: relative;
  }
  .bottom-nav {
    position: absolute;
    bottom: 0; /* Supaya tulisan See Sport Facilities Near Me dan logo2 sosmednya bisa stick di bawah */
    margin-bottom: 1rem;
    display: flex; /* Supaya tulisan See Sport Facilities Near Me dan logo2 sosmednya bisa samping-sampingan */
    width: 97%; /* Supaya gak mepet-mepet banget */
  }
  .social-media-buttons {
    margin-right: 5rem; /* Buat pemisah antara logo-logo sosmednya */ 
  }
  .sosmed{
    width: 30px;
  }
  .nearme{
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
  }
  .upper-nav{
    position:absolute;
    top: 0;
    margin-top: 1.5rem;
    display: flex;
    width: 97%;
  }
  .rect{
    width: 200px;
    height: 100px;
    position: absolute;
   }